*{
    padding: 0;

    margin: 0;
}
:root {
    --corFundo: #ffffff;
    --tamanhoLifnk: 1.5rem;
}

header {
    background-color: var(--corFundo);
}

a {
    font-size: var(--tamanhoLink);
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(255, 0, 0);
}




.menuPrincipal {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.menuPrincipal > li:hover{
    transform: translateY(-6px);
    transition: 0.4s;
}

.MenuKd > li:hover{
    transform: translateY(-6px);
transition: 0.4s;}


@media screen and (max-width :600px) {

    header {
        position:fixed;
        left: 0;
        width: 100px;
        height: 100vh;


    }
}

a{
    font-size: var(--tamanhoLifnk);
}

.Kd {
    background-color: #777;
    height: 100px;
}

.MenuKd {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.Sim{
    background-color: #f5f3f3;
    position: absolute;
    width: 100%;
    height: 25px;
}


#Jordan{
    width: 35px;
    height: 25px;
  }

#Logo{
    position: relative;right: 45.6%;top: 10px;
}

#Kd{
    height: 25px;
}

li {
    position: relative;
    top: 5px;
    font-family:Garamond;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    padding: 8px;
}

#Home {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
#Home > li:hover{
    transform: translateY(-6px);
    transition: 0.4s;}