.Kd {
    background-color: #bebebe;
}



/* #Kevin{
    position: relative;
    bottom:30%
} */

body,
html {
    margin: 0;
    height: 100vh;
}

/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100%;
    padding: 0 50px; 
} */

.texto {
    text-align: left;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 900px;
    width: 100%;
    font:inherit;
}

.divtexto{
    max-width: 320px;
    width: 100%;
    font:inherit;
}

.container {
    display: flex;
}
.container > div {
    max-width: 58%;
}

.container img {
height: 900px;
background-position-x: right;
background-position-y: center;
} */

 .titulo {
    position: relative;
    bottom: 100px;
    font-weight: bold;
}

/* .Sub-Titulo{
position: relative;
bottom: 55px;
font-style:initial;
font-variant:unset;

} */

/* .Kd9{
    height: 10px;
    position: relative;
    left: 30px;
} */


/* main {
    max-width: 1000px;
    margin: 2rem auto;
    background-color: rgb(255, 255, 255);
    border: 4px double;
} */





/* .containerPai {
    padding: 20px;
} */




main {
    max-width: 1000px;
    margin: 2rem auto;
    background-color: rgb(255, 255, 255);
    border: 4px double;
    padding: 2rem;
    box-shadow: 0 0 10px;
}

.Kd15{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.Kd16{
    max-width: 1000px;
    margin: 2rem auto;
    background-color: rgb(255, 255, 255);
    border: 4px double;
    padding: 2rem;
    box-shadow: 0 0 10px;
}

.kd16{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.k15{
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.titulo16 {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titulo15 {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p16{
    
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.Kd17{
    max-width: 1000px;
    margin: 2rem auto;
    background-color: rgb(255, 255, 255);
    border: 4px double;
    padding: 2rem;
    box-shadow: 0 0 10px;
}

.KD17{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.p17{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}







@media screen and (max-width: 600px) {



    .container {
        display: flex;
        padding: 50px 20px;
        flex-direction: column-reverse;

    }
    .Tenis16{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
    }
    
    .img15{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
    }

    .kD17{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
}

@media screen and (min-width: 601px) {

    * {

        padding: 0;

        margin: 0;
    }

    .container {
        display: flex; 
         flex-direction: row;
        padding: 50px 20vw;
    }

    .Tenis16{
        width: 30vw;
        padding-right: 100px;
    }
    
    .img15{
        width: 30vw;
        padding-right: 100px;
    }

    .iconkd{
        position: relative;
        padding-top: 50px;

    }

    .kD17{
        width: 30vw;
        padding-left: 150px;
    }


}


