.Kd{
    background-color: #bebebe;
}

@media screen and (max-width: 600px) {
    main,
    footer{
        margin-left: 100px;
    }
    
    main{
        max-height: calc(100vh - 32px -100px);
    }
}
@media screen and (win-width: 601px){

*{

    padding: 0;

    margin: 0;
}

}

#h1{
    text-align: center;
    position: relative;
    top: 5vh;
    font-size: 25px;
}



#Kevin{
    position: relative;
    bottom:30%
}

body, html {
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100%;
    padding: 0 50px; 
}

.texto {
    width: 1100px;
    text-align: left;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.imagem {
height: 900px;
background-position-x: right;
background-position-y: center;
}

.titulo {
    position: relative;
    bottom: 70px;
    font-weight: bold;
}

.Sub-Titulo{
position: relative;
bottom: 55px;
font-style:initial;
font-variant:unset;

}

.Kd9{
    height: 10px;
    position: relative;
    left: 30px;
}


